body { 
    background: rgb(10,60,102);
    background: linear-gradient(90deg, rgba(10,60,102,1) 0%, rgba(10,115,170,1) 33%, rgba(6,16,55,1) 56%, rgba(6,16,55,1) 100%);
    color: #ffffff;
}
.info{
    display: flex;
    justify-content: right;
    gap: 50px 50px;
    margin-right: 300px;
}
p {
    font-size: 35px;
}
.info img {
    position: absolute;
    margin: auto;
    margin-top: 100px;
    margin-right: 150px;
    width: 20%;
}
.apItems {
    position: absolute;
    margin-left: 300px;
    width: 25%;
    display: grid;
    grid-template-columns: 1 auto;
    grid-gap: 0px;
    background-color: #061e36;
}
/* .apItems label {
    font-size: 25px;
    margin: auto;
    text-align: right;
} */
.apItems div {
    border: 1px solid rgb(226, 0, 247);
}
.apItems input {
    width: 20%;
}
.apItems label {
    font-size: 25px;
}